body {
	background-color: #FFFFFF;
}


#wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 100%;
	background: url("/path/to/your/background_cols.gif") repeat;
}

#header {
	margin: 0 0 15px 0;
}

#side-a {
	float: left;
	width: 50%;
}

#side-b {
	float: right;
	width: 25%;
}

#content {
	float: left;
}

#footer {
	clear: both;
}